<template name="archiwum">
    {{#if currentUser}}
        <div class="main">
            <h3>Archiwum</h3>
            <div class="pull-right">
                <span>Ilość kwestii: </span><span class="badge">{{kwestiaCount}}</span>
            </div>
            <hr/>
            <div class="row">
                <div class="col col-md-6">
                    <div class="input-group">
                        <input id="searchInput" type="text" class="form-control search-input-filter"
                               placeholder="szukaj..."/>
                    </div>
                </div>
                <div class="centered col col-md-6">
                    <div class="pull-right btn-group">
                        <button id="twentyButton" class="{{isTwentyActive}} btn btn-default">20</button>
                        <button id="fiftyButton" class="{{isFiftyActive}} btn btn-default">50</button>
                        <button id="hundredButton" class="{{isHundredActive}} btn btn-default">100</button>
                    </div>
                </div>
            </div>
            <hr/>
            <table id="kwestiaTable" class="table table-striped tablesorter">
                <thead>
                <tr>
                    <th>Data wprowadzenia</th>
                    <th>Nazwa kwestii</th>
                    <th>Priorytet</th>
                    <th>Temat</th>
                    <th>Rodzaj</th>
                    <th>Data dyskusji</th>
                    <th>Data głosowania</th>
                    <th>Historia</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {{#each kwestiaList}}
                    <tr>
                        <td>{{dataWprowadzenia}}</td>
                        <td>{{kwestiaNazwa}}</td>
                        <td>{{priorytet}}</td>
                        <td>{{tematNazwa.nazwaTemat}}</td>
                        <td>{{rodzajNazwa.nazwaRodzaj}}</td>
                        <td>{{dataDyskusji}}</td>
                        <td>{{dataGlosowania}}</td>
                        <td>{{historia}}</td>
                        <td>{{status}}</td>
                        <td>
                            <span>
                                <a href="{{pathFor 'informacjeKwestiaArchiwum'}}" class="glyphicon glyphicon-info-sign" title="Szczegółowe informacje"></a>
                            </span>
                            {{#if isAdminUser}}
                                <span>
                                    <a href="{{pathFor 'proceduraPrzywracania'}}" class="glyphicon glyphicon-repeat" title="Procedura przywracania kwestii"></a>
                                </span>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <hr/>
            <div class="btn-group">
                {{#each paginationButtonList }}
                    {{> paginationButton }}
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>
