<template name="subMenu">
    {{#if currentUser}}
    <ul class="nav nav-tabs">
            {{#if isAdminUser}}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Rodzaje <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{pathFor 'listRodzaj'}}">Lista rodzajów</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathFor 'addRodzaj'}}">Dodaj rodzaj</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Użytkownicy <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{activeRouteClass 'listUsers'}}"><a href="{{pathFor 'listUsers'}}">Lista użytkowników</a></li>
                        <li class="divider"></li>
                        <li class="{{activeRouteClass 'addUser'}}"><a href="{{pathFor 'addUser'}}">Dodaj użytkownika</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Parametry globalne<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{activeRouteClass 'listParametr'}}"><a href="{{pathFor 'listParametr'}}">Lista parametrów</a></li>
                        <li class="divider"></li>
                        <li class="{{activeRouteClass 'addParametr'}}"><a href="{{pathFor 'addParametr'}}">Dodaj parametr</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tematy<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{activeRouteClass 'listTemat'}}"><a href="{{pathFor 'listTemat'}}">Lista tematów</a></li>
                        <li class="divider"></li>
                        <li class="{{activeRouteClass 'addTemat'}}"><a href="{{pathFor 'addTemat'}}">Dodaj temat</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Raporty<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{activeRouteClass 'listRaport'}}"><a href="{{pathFor 'listRaport'}}">Lista raportów</a></li>
                        <li class="divider"></li>
                        <li class="{{activeRouteClass 'addRaport'}}"><a href="{{pathFor 'addRaport'}}">Dodaj raport</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Kwestie<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{activeRouteClass 'listKwestiaAdmin'}}"><a href="{{pathFor 'listKwestiaAdmin'}}">Lista kwestii</a></li>
                        <li class="divider"></li>
                        <!--<li class="{{activeRouteClass 'addKwestiaAdmin'}}"><a href="{{pathFor 'addKwestiaAdmin'}}">Dodaj kwestię</a></li>-->
                    </ul>
                </li>
                <!--<li class="{{activeRouteClass ''}}"><a href="#">Raporty</a></li>-->

            {{else}}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Wykaz kwestii <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{activeRouteClass 'listKwestia'}}"><a href="{{pathFor 'listKwestia'}}">Lista kwestii</a></li>
                        <li class="divider"></li>
                        <li class="{{activeRouteClass 'addKwestia'}}"><a href="{{pathFor 'addKwestia'}}">Dodaj kwestię</a></li>
                    </ul>
                </li>
            {{/if}}
    </ul>
    {{/if}}
</template>